body {
    background-color: #00080e;
    color: rgb(48, 11, 212);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #441caf;
    color: rgb(114, 34, 167);
    font-family: "Bai Jamjuree", sans-serif;
}